{{ 'account-drawer.css' | asset_url | stylesheet_tag: preload: true }}
<div id="js-account-drawer" class="shopify-section-account noksha-drawer" data-open-section="account-drawer">
    <div class="inner-section drawer-space m-color-{{ section.settings.sidebar_color_scheme }}">
        <div class="container">
            <div class="account-template">
                <div class="login-inner">
                 {% render 'user-signup' %}
                </div>
            </div>
        </div>
    </div>
</div>

