{{ 'bag-drawer.css' | asset_url | stylesheet_tag: preload: true }}
<div id="js-bag-drawer" class="shopify-section-bag noksha-drawer add-to-cart-action m-color-{{ section.settings.sidebar_color_scheme }}" data-open-section="bag-drawer">
    <div class="inner-section drawer-space">
        {% render 'cart-template' %}
    </div>
</div>