        <div class="hero-info text-{{ ss.text_align }}">
            <h1 class="hero-title {{ ss.title_font_size }}">{{ ss.hero_title }}</h1>
            <div class="hero-description">{{ ss.hero_description }}</div>
        </div>