<div id="js-notify-me" class="notify-me m-color-{{ settings.notify_me_color }}">
  <div class="inner-notify-me">

  </div>
<h2>Notify Me</h2>
</div>
{% stylesheet %}
.notify-me .inner-notify-me{
    position: fixed;
    bottom: 50%;
    right: 50%;
    padding: 15px 25px;
    cursor: pointer;
    z-index: 1000;
    transform: translateX(50%);
    background: rgb(var(--color-background));
}
{% endstylesheet %}
