{{ 'search-drawer.css' | asset_url | stylesheet_tag: preload: true }}
<div id="js-search-drawer" class="shopify-section-search noksha-drawer" data-open-section="search-drawer">
    <div class="inner-section drawer-space">
        <div class="serch-box">
        <form action="/search" method="get" role="search">
            <input
            type="search"
            name="q"
            id="SearchDrawerInput"
            placeholder="Search..."
            autocomplete="off"
            aria-label="Search"
            >
        </form>
        </div>

        <div class="search-suggestions" id="SearchSuggestions">
        <h4>Top Suggested</h4>
        <ul id="SearchSuggestionList" data-keywords='[{% for word in keywords %}
                "{{ word | strip | escape }}"{% unless forloop.last %},{% endunless %}
            {% endfor %}]'
        ></ul>
        </div>
    </div>
</div>
