<div id="js-wishlist-drawer" class="shopify-section-wishlist noksha-drawer m-color-{{ section.settings.sidebar_color_scheme }}" data-open-section="wishlist-drawer">
    <div class="inner-section drawer-space">
        <div class="container">
            <h4 class="title">Your Wishlist</h4>
        </div>
    </div>
</div>


{% stylesheet %}
  .shopify-section-wishlist {
  max-width: 70rem;
  background: #f0eee8;
}
{% endstylesheet %}