{% doc %}
  Renders a single column inside a flexible columns row.

  The column width is determined by its span relative to other
  column-item blocks in the same row.

  Example:
  - Column 1 span: 2
  - Column 2 span: 1
  Total span: 3
  Result: column 1 is 2/3 width, column 2 is 1/3 width.
{% enddoc %}

<div
  class="layout-columns__item"
  style="--col-span: {{ block.settings.column_span }};"
  {{ block.shopify_attributes }}
>
  {% content_for 'blocks' %}
</div>

{% schema %}
{
  "name": "Column item",
  "blocks": [
    {
      "type": "@theme"
    }
  ],
  "settings": [
    {
      "type": "range",
      "id": "column_span",
      "label": "Column span",
      "min": 1,
      "max": 6,
      "step": 1,
      "default": 1
    }
  ],
  "presets": [
    {
      "name": "Column item"
    }
  ]
}
{% endschema %}