{% doc %}
  Column item block.
  Controls proportional width using flex grow ratio.
{% enddoc %}

<div
  style="--col-span: {{ block.settings.column_span }};"
  {{ block.shopify_attributes }}
>
  {% content_for 'blocks' %}
</div>

{% schema %}
{
  "name": "Column item",
  "blocks": [
    {
      "type": "@theme"
    }
  ],
  "settings": [
    {
      "type": "range",
      "id": "column_span",
      "label": "Column span (relative width)",
      "min": 1,
      "max": 6,
      "step": 1,
      "default": 1
    }
  ],
  "presets": [
    {
      "name": "Column item"
    }
  ]
}
{% endschema %}
