{% doc %}
  Column item block.
  Controls proportional width using flex grow ratio.
{% enddoc %}

<div 
  data-span="{{ block.settings.column_span }}"
  data-block-id="{{ block.id }}"
  {{ block.shopify_attributes }}
>
  {% content_for 'blocks' %}
</div>


{% schema %}
{
  "name": "Column item",
  "class": "cols-block-item",
  "blocks": [
    {
      "type": "@theme"
    }
  ],
  "settings": [
    {
      "type": "range",
      "id": "column_span",
      "label": "Column span",
      "min": 1,
      "max": 6,
      "step": 1,
      "default": 1
    }
  ],
  "presets": [
    {
      "name": "Column item"
    }
  ]
}
{% endschema %}
