{% doc %}
  Renders a vertical stack of blocks (column layout).
  @example
  {% content_for 'block', type: 'column', id: 'column' %}
{% enddoc %}

<div class="layout-column cols-{{ block.settings.columns }} {% if block.settings.show_two_mobile %}cols-mobile-2{% endif %}"
  style="
    padding: {{ block.settings.padding }}px;
    --grid-gap: {{ block.settings.grid_gap }}px"{{ block.shopify_attributes }}>
  {% content_for 'blocks' %}
</div>

{% stylesheet %}

{% endstylesheet %}

{% schema %}
{
  "name": "Column Layout",
  "blocks": [{ "type": "content-card" }],
  "settings": [
    {
      "type": "select",
      "id": "columns",
      "label": "Columns",
      "options": [
        { "value": "2", "label": "2" },
        { "value": "3", "label": "3" },
        { "value": "4", "label": "4" },
        { "value": "5", "label": "5" },
        { "value": "6", "label": "6" }
      ],
      "default": "4"
    },
    {
      "type": "checkbox",
      "id": "show_two_mobile",
      "label": "Show 2 col mobile",
      "info": "You can show 2 column in a mobile",
      "default": false
    },
    {
      "type": "range",
      "id": "grid_gap",
      "label": "t:labels.grid_gap",
      "min": 0,
      "max": 50,
      "step": 5,
      "unit": "px",
      "default": 10
    },
    {
      "type": "select",
      "id": "align_items",
      "label": "Align items",
      "default": "flex-start",
      "options": [
        { "value": "flex-start", "label": "Start" },
        { "value": "center", "label": "Center" },
        { "value": "flex-end", "label": "End" },
        { "value": "stretch", "label": "Stretch" }
      ]
    },
    {
      "type": "select",
      "id": "justify_content",
      "label": "Justify content",
      "default": "flex-start",
      "options": [
        { "value": "flex-start", "label": "Start" },
        { "value": "center", "label": "Center" },
        { "value": "flex-end", "label": "End" },
        { "value": "space-between", "label": "Space between" }
      ]
    },
    {
      "type": "range",
      "id": "gap",
      "label": "Gap between items",
      "default": 20,
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "padding",
      "label": "Padding",
      "default": 0,
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px"
    }
  ],
  "presets": [
    {
      "name": "Column Layout",
      "category": "Layout"
    }
  ]
}
{% endschema %}
