{% liquid
  assign image = block.settings.image

  assign image_wapper_classes = 'cropped-image-wrapper'
  assign wrapper_style = ''

  if block.settings.aspect_ratio == 'adapt-to-image'
    assign image_wapper_classes = image_wapper_classes | append: ' adapt-image-height'

  elsif block.settings.aspect_ratio == 'custom-height'
    assign image_wapper_classes = image_wapper_classes | append: ' custom-height-image'
    assign wrapper_style = 'height:' | append: block.settings.custom_height | append: 'px;'

  else
    assign image_wapper_classes = image_wapper_classes | append: ' ' | append: block.settings.aspect_ratio
  endif

  if block.settings.hover_effect_action != 'no-effect'
    assign image_wapper_classes = image_wapper_classes | append: ' ' | append: block.settings.hover_effect_action
  endif

  assign custom_width_style = ''
  if block.settings.enable_custom_width and block.settings.custom_width != blank
    assign custom_width_style = 'max-width:' | append: block.settings.custom_width | append: '%;margin-left:auto;margin-right:auto;'
  endif
%}


{% if image != blank %}

  <div
    class="block-image"
    style="{{ custom_width_style }} text-align: {{ block.settings.alignment }};"
    {{ block.shopify_attributes }}
  >

    {% render 'image',
      image: image,
      mobile_image: block.settings.image_mobile,
      url: block.settings.link,
      class: image_wapper_classes,
      img_alt: block.settings.alt_text
    %}

  </div>

{% endif %}

{% stylesheet %}
.block-image__media {
  max-width: 100%;
}
{% endstylesheet %}

{% schema %}
{
  "name": "Image",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "image_picker",
      "id": "image_mobile",
      "label": "Mobile image"
    },
    {
      "type": "url",
      "id": "link",
      "label": "Link"
    },
    {
      "type": "text",
      "id": "alt_text",
      "label": "Alt text"
    },
    {
      "type": "header",
      "content": "Aspect Ratio"
    },
    {
      "type": "select",
      "id": "aspect_ratio",
      "label": "Aspect ratio",
      "default": "adapt-to-image",
      "options": [
        { "value": "adapt-to-image", "label": "Adapt to image" },
        { "value": "cropped-image--square", "label": "Square" },
        { "value": "cropped-image--portrait", "label": "Portrait" },
        { "value": "cropped-image--portrait-tall", "label": "Portrait tall" },
        { "value": "cropped-image--landscape", "label": "Landscape" },
        { "value": "cropped-image--wide", "label": "Wide (16:9)" }
      ]
    },
    {
      "type": "header",
      "content": "Hover Effect"
    },
    {
      "type": "select",
      "id": "hover_effect_action",
      "label": "Hover effect",
      "default": "no-effect",
      "options": [
        { "value": "no-effect", "label": "No effect" },
        { "value": "is-hover-zoom-in", "label": "Zoom in" },
        { "value": "is-hover-zoom-out", "label": "Zoom out" },
        { "value": "is-hover-zoom-up", "label": "Zoom up" },
        { "value": "is-hover-fade", "label": "Fade" },
        { "value": "is-hover-cinematic", "label": "Cinematic" },
        { "value": "is-hover-drift", "label": "Drift" },
        { "value": "is-hover-overlay", "label": "Overlay" }
      ]
    },
    {
      "type": "header",
      "content": "Width Control"
    },
    {
      "type": "checkbox",
      "id": "enable_custom_width",
      "label": "Enable custom width",
      "default": false
    },
    {
      "type": "range",
      "id": "custom_width",
      "label": "Width (%)",
      "min": 10,
      "max": 100,
      "step": 5,
      "default": 100,
      "unit": "%"
    },
    {
      "type": "select",
      "id": "alignment",
      "label": "Alignment",
      "default": "center",
      "options": [
        { "value": "left", "label": "Left" },
        { "value": "center", "label": "Center" },
        { "value": "right", "label": "Right" }
      ]
    }
  ],
  "presets": [
    { "name": "Image" }
  ]
}
{% endschema %}
