{% doc %}
  Renders a rich text block.

  @example
  {% content_for 'block', type: 'rich-text', id: 'rich-text' %}
{% enddoc %}

<div
  class="rich-text"
  style="--text-align: {{ block.settings.alignment }}"
  {{ block.shopify_attributes }}
>
  {{ block.settings.text }}
</div>

{% stylesheet %}
.rich-text {
  text-align: var(--text-align);
}

.rich-text > *:last-child {
  margin-bottom: 0;
}
{% endstylesheet %}

{% schema %}
{
  "name": "Rich Text",
  "settings": [
    {
      "type": "richtext",
      "id": "text",
      "label": "t:labels.text",
      "default": "<p>Add your text here</p>"
    },
    {
      "type": "text_alignment",
      "id": "alignment",
      "label": "t:labels.alignment",
      "default": "left"
    }
  ],
  "presets": [
    { "name": "Rich text" }
  ]
}
{% endschema %}
