{% liquid
  assign first_class = 'customer-reset-password ' | append: 'm-color-' | append: settings.color_scheme 
  assign first_class = first_class | append: ' ' | append: settings.color_control
  assign first_class = first_class | append: ' ' | append: settings.custom_class

  assign container_width = settings.container_width
%}
<div class="{{ first_class }}">
  <div class="{{ container_width }}">
    <div class="register-wrapper sidebar-space">
      <h2 class="h3">Reset password</h2>
      {% form 'reset_customer_password' %}
        {{ form.errors | default_errors }}
        <div class="field">
          <label>New password</label>
          <input type="password" name="customer[password]" placeholder="Enter new Password" required>
        </div>
        <div class="field">
          <label>Confirm password</label>
          <input type="password" name="customer[password_confirmation]" placeholder="Retype to confirm password" required>
        </div>
        <button class="button" type="submit">Reset password</button>
      {% endform %}
    </div>
  </div>
</div>

{% stylesheet %}
.customer-reset-password {
    padding: 6rem 0 3rem 0;
}
.customer-reset-password .register-wrapper h2 {
    text-transform: uppercase;
    margin-bottom: 2rem;
}
.customer-reset-password form {
  max-width: 26rem;
}
.customer-reset-password .field {
    display: flex;
    flex-direction: column;
}
.customer-reset-password label {
    font-size: 0.9em;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
}
.customer-reset-password input {
    padding: .8rem 0;
    border-bottom: 2px solid rgb(var(--color-border));
    border-radius: 0;
    margin-bottom: 1.4rem;
}
.customer-reset-password .button {
    background: rgb(var(--color-heading));
    color: rgb(var(--color-background));
    border: 2px solid rgb(var(--color-heading));
    padding: 0.8rem 2rem;
    font-size: 0.9em;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    margin-bottom: 1rem;
}
.customer-reset-password .button:hover {
    background: transparent;
    color: rgb(var(--color-heading));
}
{% endstylesheet %}


{% schema %}
{
  "name": "Main reset password",
  "settings": [

  ]
}
{% endschema %}
