<section class="customer customer-reset-password">
  <div class="page-width">

    <h1>Reset password</h1>

    {% form 'reset_customer_password' %}
      {{ form.errors | default_errors }}

      <label>New password</label>
      <input type="password" name="customer[password]" required>

      <label>Confirm password</label>
      <input type="password" name="customer[password_confirmation]" required>

      <button type="submit">Reset password</button>
    {% endform %}

  </div>
</section>

{% schema %}
{
  "name": "Reset password",
  "settings": []
}
{% endschema %}
