{% comment %}
  This section is used in the page template to render store pages like About us
  or Contact us.

  https://shopify.dev/docs/storefronts/themes/architecture/templates/page
{% endcomment %}
{% liquid
  assign first_class = 'default-page ' | append: 'm-color-' | append: section.settings.color_scheme 
  assign first_class = first_class | append: ' ' | append: section.settings.color_control
  assign first_class = first_class | append: ' ' | append: section.settings.custom_class

  assign container_width = section.settings.container_width
%}
<div class="{{ first_class }}">
  <div class="{{ container_width }}">
    <div class="content-wrapper sidebar-space">
      <h2 class="h3">{{ page.title }}</h2>
      {{ page.content }}
    </div>
  </div>
</div>

{% stylesheet %}
.default-page {
    padding: 6rem 0 4rem 0;
}
.default-page .content-wrapper h2 {
    text-transform: uppercase;
    margin-bottom: 2rem;
}
.default-page p{
  margin: 1rem 0;
}
{% endstylesheet %}


{% schema %}
{
  "name": "t:general.page",
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "Color scheme"
    },
    {
      "type": "select",
      "id": "container_width",
      "label": "Container width",
      "options": [
        { "value": "container", "label": "Container" },
        { "value": "container-fluid", "label": "Container fluid" },
        { "value": "container-narrow", "label": "Container narrow" },
        { "value": "container-extra-narrow", "label": "Container extra narrow" },
        { "value": "extended", "label": "Extended" }
      ],
      "default": "extended"
    },
    {
      "type": "text",
      "id": "custom_class",
      "label": "custom class"

    },
    {
      "type": "select",
      "id": "color_control",
      "label": "Color Control",
      "info": "These settings control the color of the sidebar text. If you select Dark, it will be a light shade of the sidebar text/icon color, and if you select Light, it will be a dark shade of the sidebar text/icon color.",
      "options": [
        { "value": "section-dark", "label": "Dark" },
        { "value": "section-light", "label": "Light" }
      ],
      "default": "section-light"
    },
  ]
}
{% endschema %}
