/* Cart Style */
.cart-page {
    padding-top: 8rem;
    padding-bottom: 5rem;
    min-height: 80vh;
}
.cart-page .background-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -2;
}
.cart-page .background-overlay {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}
.cart-page .background-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
  .cart-page .cart-template__inner{
    background: rgba(var(--color-background), 0.2);
    backdrop-filter: blur(3px);
    border-radius: 0.5rem;
    padding: 2rem;
  }
  .cart-template__inner {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 100%;
    gap: 2rem;
    max-width: 68rem;
}
@media (min-width: 992px){
    .cart-page {
        padding-left: 12rem;
    }
    .cart-template__inner {
        flex-direction: row;
        gap: 6rem;
    }
    .cart-template-left {
        width: 55%;
    }
    .cart-template-right {
        width: 45%;
    }
}
.cart-template-left,
.cart-template-right{
    max-width: 32rem;
}

/* ============================
   cart title
============================ */
.cart-template__inner h4 {
    font-size: 1em;
    text-transform: uppercase;
    margin-bottom: 1.2rem;
    color: rgb(var(--color-heading));
}

/* ============================
   FREE SHIPPING PROGRESS BAR
============================ */
/* Progress bar */
.shipping-progress {
  background: gray;
  height: 14px;
  width: 100%;
  margin-top: 8px;
}

.shipping-progress-bar {
  background: green;
  height: 100%;
  width: 0;
  transition: width 0.3s ease;
}

/* Toggle text */
.cart-shipping-success {
  display: none;
}

.cart-shipping-wrapper.is-success .cart-shipping-default {
  display: none;
}

.cart-shipping-wrapper.is-success .cart-shipping-success {
  display: block;
}


.cart-item {
    display: flex;
    width: 100%;
    gap: 1.2rem;
    padding: 1.2rem 0;
    border-top: 1px solid rgb(var(--color-border));
    max-width: 32rem;
}
.cart-item-image {
    width: 6rem;
}
.cart-item-info {
    display: flex;
    width: calc(100% - 6rem);
    gap: 1.2rem;
    justify-content: space-between;
}
.info-left {
    width: 75%;
}
.info-right {
    width: 25%;
}
/* Quantity buttons */
.cart-item-qty {
  display: flex;
  align-items: center;
  gap: 8px;
}

.cart-item-qty input {
  width: 40px;
  text-align: center;
  border: 1px solid #ccc;
}

.qty-btn {
  width: 32px;
  height: 32px;
  border: 1px solid #ccc;
  background: none;
  cursor: pointer;
}
.cart-item-qty input {
  width: 42px;
  height: 32px;
  text-align: center;
  border: 1px solid #ccc;
  background: #fff;
  color: #000;
  font-size: 14px;
  appearance: none;
  -moz-appearance: textfield;
}

.cart-item-qty input::-webkit-inner-spin-button,
.cart-item-qty input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Note */
.cart-note {
  margin-top: 1rem;
  font-size: 0.8rem;
  color: #666;
}
