/* Cart Style */
.cart-page {
    padding-top: 8rem;
    padding-bottom: 5rem;
    min-height: 80vh;
}
.cart-page .background-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -2;
}
.cart-page .background-overlay {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}
.cart-page .background-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
  .cart-page .cart-template__inner{
    background: rgba(var(--color-background), 0.2);
    backdrop-filter: blur(3px);
    border-radius: 0.5rem;
    padding: 1rem;
    min-height: 50vh;
  }
  .cart-template__inner {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 100%;
    gap: 2rem;
    max-width: 68rem;
}
@media (min-width: 992px){
    .cart-page {
        padding-left: 12rem;
    }
   .cart-page .cart-template__inner{
    padding: 2.5rem;
  }
    .cart-template__inner {
        flex-direction: row;
        gap: 6rem;
    }
    .cart-template-left {
        width: 65%;
    }
    .cart-template-right {
        width: 35%;
    }
}
.cart-template-left{
    max-width: 36rem;
}
.cart-template-right{
    max-width: 28rem;
}

/* ============================
   cart title
============================ */
.cart-template__inner h4 {
    font-size: 1em;
    text-transform: uppercase;
    margin-bottom: 1.2rem;
    color: rgb(var(--color-heading));
    font-weight: 600;
}

/* ============================
   FREE SHIPPING PROGRESS BAR
============================ */
/* Progress bar */
.cart-shipping-wrapper {
    font-size: 0.7em;
    margin-bottom: 1.6rem;
    max-width: 22rem;
    color: rgb(var(--color-text));
}
.shipping-progress {
    background: rgb(var(--color-additional-1));
    height: 0.5rem;
    width: 100%;
    margin-top: 0.5rem;
    border-radius: 1rem;
    overflow: hidden;
}

.shipping-progress-bar {
  background: rgb(var(--color-additional-2));
  height: 100%;
  width: 0;
  transition: width 0.3s ease;
}

/* Toggle text */
.cart-shipping-success {
  display: none;
}

.cart-shipping-wrapper.is-success .cart-shipping-default {
  display: none;
}

.cart-shipping-wrapper.is-success .cart-shipping-success {
  display: block;
}


.cart-item {
    display: flex;
    width: 100%;
    gap: 1.2rem;
    padding: 1.2rem 0;
    border-top: 1px solid rgb(var(--color-border));
    max-width: 32rem;
}
.cart-item-image {
    width: 4rem;
}
@media (min-width: 992px){
    .cart-item-image {
        width: 6rem;
    }
}
.cart-item-info {
    display: flex;
    width: calc(100% - 6rem);
    gap: 1.2rem;
    justify-content: space-between;
}
.info-left {
    width: 75%;
}
.info-right {
    width: 25%;
}
.cart-template .info-left a{
    font-size: 0.9em;
    display: block;
    margin-bottom: 0.1rem;
    color: rgb(var(--color-heading));
}
.cart-template .info-left p {
    font-size: .7em;
    display: block;
    color: rgb(var(--color-text));
}
/* Quantity buttons */ 
.cart-template .cart-item-qty {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  gap: 0;
}
.cart-template .qty-btn {
  width: 32px;
  height: 32px;
  background-color: rgb(var(--color-background));
  color: rgb(var(--color-heading));
  border: 1px solid rgb(var(--color-heading));
  background: none;
  cursor: pointer;
  font-size: 1.2em;
  transition: all;
}

.cart-template .qty-btn:hover {
    background: rgb(var(--color-heading));
    color: rgb(var(--color-background));
}
.cart-template .cart-item-qty input {
    width: 42px;
    height: 32px;
    text-align: center;
    border: 1px solid rgb(var(--color-heading));
    background: transparent;
    color: #000;
    font-size: 14px;
    -webkit-appearance: none;
    appearance: none;
    -moz-appearance: textfield;
    pointer-events: none;
    border-radius: 0;
    border-left: none;
    border-right: none;
}

.cart-template .cart-item-qty input::-webkit-inner-spin-button,
.cart-template .cart-item-qty input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.cart-template .cart-item-price {
    font-size: 0.8em;
    display: block;
    margin-bottom: 0.8rem;
    color: rgb(var(--color-heading));
}
.cart-template .cart-item-remove {
  background: transparent;
  color: rgb(var(--color-heading));
  text-decoration: underline;
}

@media (min-width: 441px){
 .cart-page .cart-template .cart-item-remove {
    background: rgb(var(--color-heading));
    text-decoration: none;
    color: rgb(var(--color-background));
    padding: 0.4rem 1rem;
}
  .cart-template .cart-item-remove:hover {
      background: rgba(var(--color-heading), 0.8);
  }
}

.cart-template .cart-summary-row {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    font-size: .85em;
    padding-bottom: 1rem;
    border-bottom: 1px solid rgb(var(--color-border));
    margin-bottom: 1rem;
    color: rgb(var(--color-heading));
    font-weight: 500;
    max-width: 18rem;
}
.cart-template .cart-summary-row h5.sub-total {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 1em;
}

.cart-template .cart-checkout-btn {
    background: rgb(var(--color-heading));
    color: rgb(var(--color-background));
    text-align: center;
    border: 2px solid rgb(var(--color-heading));
    padding: 0.9rem;
    width: 100%;
    max-width: 18rem;
    font-size: 1em;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-weight: 600;
    transition: all 0.3s ease;
}
.cart-template .cart-checkout-btn:hover {
    background: transparent;
    color: rgb(var(--color-heading));
}

/* Note */
.cart-template .cart-note {
  margin-top: 1rem;
  font-size: 0.8rem;
  color: rgb(var(--color-text));
}