/* Cart Style */
.cart-page {
    padding-top: 8rem;
}
@media (min-width: 992px){
    .cart-page {
        padding-left: 12rem;
    }
    .cart-template__inner {
        display: flex;
        margin: auto;
        width: 100%;
        gap: 6rem;
        max-width: 68rem;
    }
    .cart-template-left {
        width: 55%;
    }
    .cart-template-right {
        width: 45%;
    }
}
.cart-template-left,
.cart-template-right{
    max-width: 32rem;
    margin: auto;
}
/* ============================
   FREE SHIPPING PROGRESS BAR
============================ */
.cart-free-shipping {
  margin-bottom: 2rem;
}

.cart-free-shipping p {
  font-size: 0.9rem;
  margin-bottom: 0.75rem;
}

.shipping-progress {
  width: 100%;
  height: 4px;
  background: #d8d8d8;
  position: relative;
  overflow: hidden;
}

.shipping-progress-bar {
  height: 100%;
  background: #000;
  width: 0;
  transition: width 0.4s ease;
}

/* Success state */
.cart-free-shipping.success .shipping-progress-bar {
  background: #000;
}
.cart-shipping-wrapper.is-success .shipping-progress-bar {
  width: 100%;
}

.cart-shipping-wrapper.is-success p {
  font-weight: 600;
}

.cart-item {
    display: flex;
    width: 100%;
    gap: 1.2rem;
    padding: 1.2rem 0;
    border-top: 1px solid rgb(var(--color-border));
    max-width: 32rem;
}
.cart-item-image {
    width: 6rem;
}
.cart-item-info {
    display: flex;
    width: calc(100% - 6rem);
    gap: 1.2rem;
    justify-content: space-between;
}
.info-left {
    width: 75%;
}
.info-right {
    width: 25%;
}
/* Quantity buttons */
.cart-item-qty {
  display: flex;
  align-items: center;
  gap: 8px;
}

.cart-item-qty input {
  width: 40px;
  text-align: center;
  border: 1px solid #ccc;
}

.qty-btn {
  width: 32px;
  height: 32px;
  border: 1px solid #ccc;
  background: none;
  cursor: pointer;
}
.cart-item-qty input {
  width: 42px;
  height: 32px;
  text-align: center;
  border: 1px solid #ccc;
  background: #fff;
  color: #000;
  font-size: 14px;
  appearance: none;
  -moz-appearance: textfield;
}

.cart-item-qty input::-webkit-inner-spin-button,
.cart-item-qty input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Note */
.cart-note {
  margin-top: 1rem;
  font-size: 0.8rem;
  color: #666;
}
