/* Cart Style */
.cart-page {
    padding-top: 8rem;
}
@media (min-width: 992px){
    .cart-page {
        padding-left: 12rem;
    }
    .cart-template__inner {
        display: flex;
        margin: auto;
        width: 100%;
        gap: 10rem;
    }
    .cart-template-left {
        width: 55%;
    }
    .cart-template-right {
        width: 45%;
    }
}

.cart-item {
    display: flex;
    width: 100%;
    gap: 2rem;
}
.cart-item-image {
    width: 6rem;
}
.cart-item-info {
    display: flex;
    width: 100%;
    gap: 1.2rem;
    justify-content: space-between;
}
.info-left {
    width: 75%;
}
.info-right {
    width: 25%;
}