/* Main Collection Layout */
.collection-wrapper {
    display: flex;
    gap: 30px;
    margin: 4rem 0;
}
.main-product-list .inner-warpper {
    display: flex;
    gap: 2rem;
}
.price-range {
  margin-bottom: 24px;
}

.range-slider {
  position: relative;
  height: 40px;
}

.range-slider input[type="range"] {
  position: absolute;
  width: 100%;
  pointer-events: none;
  appearance: none;
  height: 4px;
  background: none;
}

.range-slider input::-webkit-slider-thumb {
  pointer-events: all;
  appearance: none;
  width: 18px;
  height: 18px;
  background: #fff;
  border: 3px solid #3b5cff;
  border-radius: 50%;
  cursor: pointer;
}

.range-track {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 4px;
  width: 100%;
  background: #e5e5e5;
  border-radius: 2px;
}

.range-fill {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 4px;
  background: #3b5cff;
  border-radius: 2px;
}

.price-bubble {
  position: absolute;
  top: -34px;
  background: #3b5cff;
  color: #fff;
  font-size: 12px;
  padding: 4px 8px;
  border-radius: 4px;
  white-space: nowrap;
  transform: translateX(-50%);
}


input, label{
  color: #000;
}


