/* Main Collection Layout */
.collection-wrapper {
    display: flex;
    gap: 30px;
    margin: 4rem 0;
}
.main-product-list .inner-warpper {
    display: flex;
    gap: 2rem;
}
input, label{
  color: #000;
}
