/* Main Collection Layout */
.collection-wrapper {
    display: flex;
    gap: 30px;
    margin: 1rem 0;
}
.main-product-list .inner-warpper {
    display: flex;
    gap: 2rem;
    width: 100%;
}
.main-product-list .product-list {
    width: 100%;
}
.main-product-list .pagination-loader {
    padding: 2rem 0;
    text-align: center;
}