/* Main Collection Layout */
.collection-wrapper {
    display: flex;
    gap: 30px;
    margin: 1rem 0 4rem 0;
}
.main-product-list .collection-header{
  padding-top: 5.2rem;
}
.main-product-list .inner-warpper {
    display: flex;
    gap: 2rem;
    width: 100%;
}
.main-product-list .product-list {
    width: 100%;
}
.main-product-list .pagination-loader {
    padding: 2rem 0;
    text-align: center;
}


.main-product-list pagination-ui--loadmore {
    text-align: right;
    margin-top: 0.5rem;
}
.main-product-list pagination-ui--loadmore .load-more-btn{
        background: #222;
    color: #fff;
    padding: 0.8rem 2rem;
    font-size: .8em;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    border: 1px solid #222;
}