@media (min-width: 992px) {
  .shopify-section-nav {
    width: auto;
    background: #f0eee8;
  }
  .nav-template {
      display: flex;
      gap: 2rem;
  }
  .element-hide{
    display: none;
  }
}
.shopify-section-nav ul{
  list-style: none;
  padding-left: 0;
}
.shopify-section-nav li{
  padding: 0.2rem 0;
  margin: 0.25rem;
}

/* Overflow Scrolling */
.initial-panel,
.child-linklist,
.grandchild-linklist,
.collections-productlist {
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  max-height: 80vh;
  padding: 0 1rem;
  transition: all 0.4s cubic-bezier(.32,.24,.15,1);
}
.child-linklist,
.grandchild-linklist,
.collections-productlist {
width: 0;
}
.child-linklist.active,
.grandchild-linklist.active, {
width: 15rem !important;
}
.shopify-section-nav.is-switching {
  pointer-events: none;
}
