  .shopify-section-nav {
    background: #f0eee8;
    transition: all 0.4s cubic-bezier(.32,.24,.15,1);
  }
@media (min-width: 992px) {
  .shopify-section-nav {
    max-width: 40rem;
  }
  .shopify-section-nav.panel-1 {
    max-width: 50rem;
  }
  .shopify-section-nav.panel-product {
    max-width: 60rem;
  }
  .shopify-section-nav.panel-1.panel-2 {
    max-width: 60rem;
  }
  .shopify-section-nav.panel-1.panel-product {
    max-width: 80rem;
  }
  .shopify-section-nav.panel-1.panel-2.panel-product {
    max-width: 100%;
  }
  .nav-template {
      display: flex;
      gap: 2rem;
  }
  .element-hide{
    display: none;
  }
}
.shopify-section-nav ul{
  list-style: none;
  padding-left: 0;
}
.shopify-section-nav li{
  padding: 0.25rem 0;
  margin: 0.15rem;
}

/* Overflow Scrolling */
.initial-panel,
.child-linklist,
.grandchild-linklist,
.collections-productlist {
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  max-height: 80vh;
  padding: 0 1rem;
      min-width: fit-content;
}
.secondary-menu-inner {
    font-size: 0.8em;
    margin-top: 5rem;
}
.primary-menu-inner {
    font-size: 1em;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
}
.shopify-section-nav h4 {
    font-size: .7em;
    margin: .8rem 0 .5rem;
    text-transform: uppercase;
    border-bottom: 1px solid rgb(var(--color-border));
    font-weight: 600;
    width: fit-content;
    letter-spacing: 1px;
}
.shopify-section-nav button {
    font-size: 0.8rem;
    background: transparent;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: var(rgb(--color-heading));
}
.shopify-section-nav button svg {
    width: 1em;
    margin-bottom: -2px;
}
.shopify-section-nav .search-results-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    max-width: 25rem;
}

.shopify-section-nav .product-card__info h5 {
    font-size: 0.8em;
    margin: 0.5rem 0 0;
}
.shopify-section-nav .product-card__info .price {
    font-size: 0.8em;
}
@media (max-width: 991px) {
  .shopify-section-nav {
    max-width: 100%;
  }
  .shopify-section-nav .initial-panel {
    overflow-x: auto;
    height: 85vh;
}
  .child-linklist,
  .grandchild-linklist,
  .collections-productlist {
    max-height: 85vh;
    min-height: 100%;
    width: 100%;
    position: absolute;
    top: 3rem;
    left: 0;
    background: #f0eee8;
    transform: translateX(-100%);
    transition: all 0.4s cubic-bezier(.32,.24,.15,1);
  }
  .child-linklist.active,
  .grandchild-linklist.active,
  .collections-productlist.active {
    transform: translateX(0%);
  }
}