@media (min-width: 992px) {
  .shopify-section-nav {
    max-width: 40rem;
    background: #f0eee8;
  }
  .shopify-section-nav.panel-1 {
    max-width: 50rem;
  }
  .shopify-section-nav.panel-product {
    max-width: 60rem;
  }
  .shopify-section-nav.panel-1.panel-2 {
    max-width: 60rem;
  }
  .shopify-section-nav.panel-1.panel-product {
    max-width: 80rem;
  }
  .shopify-section-nav.panel-1.panel-2.panel-product {
    max-width: 100%;
  }
  .nav-template {
      display: flex;
      gap: 2rem;
  }
  .element-hide{
    display: none;
  }
}


