@media (min-width: 992px) {
  .shopify-section-nav {
    max-width: 40rem;
    background: #f0eee8;
    transition: all 0.4s cubic-bezier(.32,.24,.15,1);
  }
  .shopify-section-nav.panel-1 {
    max-width: 50rem;
  }
  .shopify-section-nav.panel-product {
    max-width: 60rem;
  }
  .shopify-section-nav.panel-1.panel-2 {
    max-width: 60rem;
  }
  .shopify-section-nav.panel-1.panel-product {
    max-width: 80rem;
  }
  .shopify-section-nav.panel-1.panel-2.panel-product {
    max-width: 100%;
  }
  .nav-template {
      display: flex;
      gap: 2rem;
  }
  .element-hide{
    display: none;
  }
}
.shopify-section-nav ul{
  list-style: none;
  padding-left: 0;
}
.shopify-section-nav li{
  padding: 0.25rem 0;
  margin: 0.15rem;
}

/* Overflow Scrolling */
.initial-panel,
.child-linklist,
.grandchild-linklist,
.collections-productlist {
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  max-height: 80vh;
  padding: 0 1rem;
      min-width: fit-content;
}
.secondary-menu-inner {
    font-size: 0.8em;
    margin-top: 5rem;
}
.primary-menu-inner {
    font-size: 1em;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
}
.shopify-section-nav h4 {
    font-size: .9em;
    margin: .8rem 0 .5rem;
    text-transform: uppercase;
    border-bottom: 1px solid;
    font-weight: 600;
    width: fit-content;
}