/* ===============================
  FILTER SIDEBAR BASE
================================ */
.product-filter {
  width: 10rem;
  transition: width 0.3s ease;
  overflow: hidden;
}

.product-filter.is-expanded {
  width: 24rem;
}

/* ===============================
  ACTION BUTTONS
================================ */

.filter-toggle-btn {
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 8px 10px;
  cursor: pointer;
  background: #000;
  color: #fff;
  border: 0;
}

/* ===============================
  FILTER ITEMS
================================ */
.filter-item.hide {
  display: none;
}

/* ===============================
  OFF-CANVAS (MOBILE)
================================ */
@media (max-width: 991px) {
.product-filter {
    position: fixed;
    top: 0;
    right: -100%;
    width: 280px;
    height: 100vh;
    background: #fff;
    z-index: 9;
    transition: right .3s ease;
    overflow-y: auto;
    padding-top: 9.2rem;
    padding-bottom: 2rem;
}
.filter-actions-bar {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
}
  .product-filter.is-offcanvas {
    right: 0;
  }

  .filter-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.1);
    z-index: 8;
  }
  body.is-filter-open {
  overflow: hidden;
  touch-action: none;
}
}

.product-filter input[type="checkbox"],
.product-filter input[type="radio"]
 {
  accent-color: #000;
}

.product-filter .filter-item{
  padding: 0.7rem 0;
  border-bottom: 1px solid rgb(var(--color-border));
}
.product-filter legend.filter-title {
    font-size: 0.8em;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    margin-bottom: 0.8rem;
}
.product-filter .filter-body {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.product-filter fieldset {
  border: 0;
  margin: 0;
  padding: 0;
  min-inline-size: auto; /* fixes browser default fieldset width */
}

.product-filter legend {
  padding: 0;
}
