.product-card .image-wrap {
    display: block;
    margin-bottom: 1.2rem;
    position: relative;
}

.product-card .cropped-image-wrapper .product-badges-wrapper {
    position: absolute;
    left: 5px;
    top: 5px;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
    z-index: 2;
    gap: 10px;
}
.product-card .cropped-image-wrapper .product-badges-wrapper span {
    padding: 2px 8px 3px;
    background: var(--badge-background-color);
    color: var(--badge-text-color);
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 14px;
    letter-spacing: .42px;
    text-transform: uppercase;
}
.product-card .image-wrap .hover-img {
    opacity: 0;
    transform: translate(-50%,-50%) scale(1.08);
}
.product-card .image-wrap:hover .hover-img {
    opacity: 1;
    transform: translate(-50%,-50%) scale(1);
}
/* Button Style */
.product-card .cart-button-wrapper {
    font-weight: 400;
    letter-spacing: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    opacity: 0;
    margin-bottom: 0;
    width: 100%;
    background: #fff;
    z-index: 3;
    text-align: left;
    transition: all .6s ease;
    transform: translateY(20px);
}
.product-card .image-wrap:hover .cart-button-wrapper {
    transform: translateY(0);
    opacity: 1;
}
.product-card .add-to-cart-btn {
    width: 100%;
    height: auto;
    background: transparent;
    font-size: 20px;
    font-family: inherit;
    text-transform: inherit;
    color: inherit;
    padding: 12px 24px;
}

.product-card .cart-button-wrapper .card-variants-wrapper {
    transform: translateY(20px);
    opacity: 0;
    transition: all .6s ease;
    height: 0;
    overflow: hidden;
    border-bottom: 1px solid #e3c7bf;
    padding: 0 0.7rem;
    max-height: 30rem;
    overflow-y: auto;
}
.product-card .cart-button-wrapper:hover .card-variants-wrapper {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    height: auto;
}

.product-card .card-variant-btn {
    width: 100%;
    background: transparent;
    height: auto;
    padding: 12px 4px;
    display: flex;
    justify-content: space-between;
    font-size: 18px;
}
.product-card .card-variant-btn:first-of-type {
    margin-top: 10px;
}
.product-card .card-variant-btn:last-of-type {
    margin-bottom: 10px;
}
.product-card .card-variant-btn:hover {
text-decoration: underline;
}
/* Product Information */

.product-card .split-aligner {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid rgb(var(--color-border));
    padding: 6px;
    gap: 0.5rem;
}
@media (max-width: 991px){
   .product-card .split-aligner {
    flex-direction: column;
}
}
.product-card .title a {
    color: rgb(var(--color-heading));
    font-size: .9em;
    display: block;
}
.product-card .price {
    color: rgb(var(--color-price-regular));
    min-width: fit-content;
    font-size: 1em;
}

