/* ===============================
  FILTER SIDEBAR BASE
================================ */
.product-filter {
  width: 120px;
  transition: width 0.3s ease;
  overflow: hidden;
}

.product-filter.is-expanded {
  width: 240px;
}

/* ===============================
  ACTION BUTTONS
================================ */

.filter-toggle-btn {
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 8px 10px;
  cursor: pointer;
  background: #000;
  color: #fff;
  border: 0;
}

/* ===============================
  FILTER ITEMS
================================ */
.filter-item.hide {
  display: none;
}

/* ===============================
  OFF-CANVAS (MOBILE)
================================ */
@media (max-width: 991px) {
  .product-filter {
    position: fixed;
    top: 0;
    right: -100%;
    width: 280px;
    height: 100vh;
    background: #fff;
    z-index: 1001;
    transition: right 0.3s ease;
  }
.filter-actions-bar {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
}
  .product-filter.is-offcanvas {
    right: 0;
  }

  .filter-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.1);
    z-index: 1000;
  }
  body.is-filter-open {
  overflow: hidden;
  touch-action: none;
}
}
