.shopify-section-search {
  background: #f0eee8;
  max-width: fit-content;
}
@media (min-width: 768px){
.shopify-section-search .inner-section{
  min-width: 35rem;
  transition: all .4s cubic-bezier(.32,.24,.15,1);
}
.shopify-section-search .inner-section.search-active{
  min-width: 55rem;
}
}
