.shopify-section-search {
  background: #f0eee8;
  max-width: fit-content;
}
.shopify-section-search  .search-template {
    display: flex;
    gap: 2rem;
    flex-direction: column;
}
.shopify-section-search .search-results-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    max-width: 32rem;
}
.shopify-section-search .right-content{
  display: none;
}
.shopify-section-search .search-active .right-content{
  display: block;
}
@media (min-width: 992px){
.shopify-section-search .inner-section{
  min-width: 35rem;
  transition: all .4s cubic-bezier(.32,.24,.15,1);
}
.shopify-section-search .search-active{
  min-width: 55rem;
}
.shopify-section-search .search-template {
    flex-direction: row;
}
.shopify-section-search .right-content {
    height: 89vh;
    overflow-y: scroll;
    position: relative;
    top: -6rem;
}
}
@media (max-width: 991px){
.shopify-section-search .inner-section {
    height: 93vh;
    overflow-y: scroll;
}
}

/* ------------------------------
     Search box
------------------------------- */

.shopify-section-search .search-box label,
.search-results h4 {
    display: block;
    font-size: 1em;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
}
.shopify-section-search .search-box input[type="search"] {
    font-size: 0.8em;
    color: rgb(var(--color-text));
    border-radius: 0;
}
.shopify-section-search .inner-search-box {
    margin: 1rem 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 2px solid rgb(var(--color-border));
    width: 100%;
    justify-content: space-between;
}
.shopify-section-search svg.icon-arrow-right {
    width: 1.4rem;
    margin-bottom: -0.3rem;
}

.shopify-section-search .sub-title{
    font-size: 0.8em;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 1rem;
    margin-top: 1.5rem;
}
.shopify-section-search ul {
    list-style: none;
    padding: 0;
    font-size: 0.9em;
}
.shopify-section-search ul li{
    margin-bottom: 0.6rem;
}

.shopify-section-search .product-card__info h5 {
    font-size: 0.8em;
    margin: 0.4rem 0 0;
}
.shopify-section-search .product-card__info .price {
    font-size: 0.8em;
}