/* User login form style */
.customer-auth-layout .sub-title {
    display: block;
    font-size: 1em;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    margin-top: 1.2rem;
}
.customer-auth-layout input {
    padding: 0.8rem 0;
    border-bottom: 1px solid rgb(var(--color-border));
    border-radius: 0;
    width: 100%;
    font-size: 0.9em;
    margin-bottom: 1.5rem;
    color: rgb(var(--color-text));
    background: transparent;
}
.btn--small {
    font-size: 0.8em;
    padding: 0.5em 1em;
    background: rgb(var(--color-heading));
    color: rgb(var(--color-background));
    border: 1px solid rgb(var(--color-heading));
    border-radius: 0;
}
.btn--small .icon {
    width: 1em;
    height: auto;
}
.btn--small:hover{
    background: transparent;
    color: rgb(var(--color-heading));
}

/* Forgot password link */
.forgot-password-link,
.back-login-link {
    display: block;
    margin-top: 0.8rem;
    font-size: 1em;
    color: rgb(var(--color-heading));
    text-decoration: none;
}
.forgot-password-link:hover,
.back-login-link:hover {
    text-decoration: underline;
}