{% layout none %}

{% if search.performed and search.results_count > 0 %}
  <div class="search-results-list">
    {% for item in search.results %}
      {% if item.object_type == 'product' %}
        {% render 'predictive-product-item', item: product, , enable_search_data: true %}
      {% endif %}
    {% endfor %}
  </div>
{% endif %}
